Repository RHEAGROUP/COMET-IME-Community-Edition, pull requests merged in 2021-01, with the labels that each got.

#661 Crossview implement core functionality
  CDP4CrossViewEditor.Tests/OfficeRibbon/CrossViewEditorRibbonPartTestFixture.cs
  CDP4CrossViewEditor.Tests/ViewModels/CrossViewDialogViewModelTestFixture.cs
  CDP4CrossViewEditor.Tests/ViewModels/ThingSelectorViewModelTestFixture.cs
  CDP4CrossViewEditor/OfficeRibbon/CrossViewEditorRibbonPart.cs
  CDP4CrossViewEditor/RowModels/DefinedThingRowViewModel.cs
  CDP4CrossViewEditor/RowModels/ElementDefinitionRowViewModel.cs
  CDP4CrossViewEditor/RowModels/ParameterTypeRowViewModel.cs
  CDP4CrossViewEditor/ViewModels/CrossViewDialogViewModel.cs
  CDP4CrossViewEditor/ViewModels/ElementDefinitionSelectorViewModel.cs
  CDP4CrossViewEditor/ViewModels/ParameterTypeSelectorViewModel.cs
  CDP4CrossViewEditor/ViewModels/ThingSelectorViewModel.cs
  CDP4CrossViewEditor/Views/CrossViewDialog.xaml
  CDP4CrossViewEditor/Views/UserControls/ElementThingSelector.xaml
  CDP4CrossViewEditor/Views/UserControls/ParameterThingSelector.xaml
  CDP4CrossViewEditor/Views/UserControls/ParameterThingSelector.xaml.cs
  CDP4CrossViewEditor/Views/UserControls/ThingSelectorControl.xaml
Labels: DEHP

#666 Implement category filtering
  CDP4Addin/Properties/launchSettings.json
  CDP4CrossViewEditor.Tests/ViewModels/ThingSelectorViewModelTestFixture.cs
  CDP4CrossViewEditor/RowModels/ElementDefinitionRowViewModel.cs
  CDP4CrossViewEditor/RowModels/ParameterTypeRowViewModel.cs
  CDP4CrossViewEditor/ViewModels/ElementDefinitionSelectorViewModel.cs
  CDP4CrossViewEditor/Views/UserControls/ElementThingSelector.xaml
  CDP4CrossViewEditor/Views/UserControls/ElementThingSelector.xaml.cs
  CDP4CrossViewEditor/Views/UserControls/ParameterThingSelector.xaml
Labels: DEHP

#668 WIP: GH645 Generate excel sheet
  .gitignore
  CDP4Addin/Properties/launchSettings.json
  CDP4CrossViewEditor.Tests/Assemblers/CrossviewArrayAssemblerTestFixture.cs
  CDP4CrossViewEditor.Tests/Assemblers/CrossviewHeaderArrayAssemblerTestFixture.cs
  CDP4CrossViewEditor.Tests/CrossViewEditorModuleTestFixture.cs
  CDP4CrossViewEditor.Tests/OfficeRibbon/CrossViewEditorRibbonPartTestFixture.cs
  CDP4CrossViewEditor.Tests/ViewModels/CrossViewDialogViewModelTestFixture.cs
  CDP4CrossViewEditor.Tests/ViewModels/ThingSelectorViewModelTestFixture.cs
  CDP4CrossViewEditor.Tests/ViewModels/WorkbookRowViewModelTestFixture.cs
  CDP4CrossViewEditor/Assemblers/CrossviewArrayAssembler.cs
  CDP4CrossViewEditor/Assemblers/CrossviewHeaderArrayAssembler.cs
  CDP4CrossViewEditor/Assemblers/CrossviewSheetRowAssembler.cs
  CDP4CrossViewEditor/Generator/CrossviewSheetConstants.cs
  CDP4CrossViewEditor/Generator/CrossviewSheetGenerator.cs
  CDP4CrossViewEditor/Generator/CrossviewSheetUtilities.cs
  CDP4CrossViewEditor/OfficeRibbon/CrossViewEditorRibbonPart.cs
  CDP4CrossViewEditor/RowModels/CrossviewSheet/ElementDefinitionExcelRow.cs
  CDP4CrossViewEditor/RowModels/CrossviewSheet/ElementUsageExcelRow.cs
  CDP4CrossViewEditor/RowModels/CrossviewSheet/ExcelRow.cs
  CDP4CrossViewEditor/RowModels/CrossviewSheet/IExcelRow.cs
  CDP4CrossViewEditor/ViewModels/CrossViewDialogViewModel.cs
  CDP4CrossViewEditor/ViewModels/WorkbookRowViewModel.cs
  CDP4CrossViewEditor/ViewModels/WorkbookSelectionDialogResult.cs
  CDP4CrossViewEditor/WorkbookOperator.cs
Labels: DEHP

#671 #667 One column per parameter type measurement scale
  CDP4CrossViewEditor.Tests/Assemblers/CrossviewArrayAssemblerTestFixture.cs
  CDP4CrossViewEditor/Assemblers/CrossviewArrayAssembler.cs
  CDP4CrossViewEditor/Generator/CrossviewSheetConstants.cs
  CDP4CrossViewEditor/Generator/CrossviewSheetGenerator.cs
Labels: Crossview

#675 #629 Fall back to ED Parameter if override not present on EU
  CDP4CrossViewEditor/Assemblers/CrossviewArrayAssembler.cs
Labels: Crossview

#672 Implement support for power related parameters
  CDP4CrossViewEditor.Tests/ViewModels/CrossViewDialogViewModelTestFixture.cs
  CDP4CrossViewEditor/ViewModels/ParameterTypeSelectorViewModel.cs
  CDP4CrossViewEditor/Views/CrossViewDialog.xaml
  CDP4CrossViewEditor/Views/UserControls/ElementThingSelector.xaml
  CDP4CrossViewEditor/Views/UserControls/ParameterThingSelector.xaml
Labels: Crossview, DEHP

#676 #667 Add square brackets to measurement units
  CDP4CrossViewEditor/Assemblers/CrossviewArrayAssembler.cs
Labels: Crossview

#682 #632 Support state dependent parameters
  CDP4CrossViewEditor.Tests/Assemblers/CrossviewArrayAssemblerTestFixture.cs
  CDP4CrossViewEditor/Assemblers/CrossviewArrayAssembler.cs
  CDP4CrossViewEditor/Generator/CrossviewSheetConstants.cs
  CDP4CrossViewEditor/Generator/CrossviewSheetGenerator.cs
Labels: Crossview

#683 #631 Support option dependent parameters
  CDP4CrossViewEditor.Tests/Assemblers/CrossviewArrayAssemblerTestFixture.cs
  CDP4CrossViewEditor/Assemblers/CrossviewArrayAssembler.cs
  CDP4CrossViewEditor/Generator/CrossviewSheetConstants.cs
  CDP4CrossViewEditor/Generator/CrossviewSheetGenerator.cs
Labels: Crossview

#687 #665 Support compound parameters
  CDP4CrossViewEditor.Tests/Assemblers/CrossviewArrayAssemblerTestFixture.cs
  CDP4CrossViewEditor/Assemblers/CrossviewArrayAssembler.cs
  CDP4CrossViewEditor/Generator/CrossviewSheetConstants.cs
  CDP4CrossViewEditor/Generator/CrossviewSheetGenerator.cs
Labels: Crossview

#698 #693 Fix cell names generation
  CDP4CrossViewEditor.Tests/Assemblers/CrossviewArrayAssemblerTestFixture.cs
  CDP4CrossViewEditor/Assemblers/CrossviewArrayAssembler.cs
  CDP4CrossViewEditor/Generator/CrossviewSheetGenerator.cs
  CDP4CrossViewEditor/WorkbookOperator.cs
  CDP4ParameterSheetGenerator/WorkbookOperator.cs
Labels: Crossview

#704 #694 UI fixes
  CDP4CrossViewEditor.Tests/ViewModels/CrossViewDialogViewModelTestFixture.cs
  CDP4CrossViewEditor/ViewModels/CrossViewDialogViewModel.cs
  CDP4CrossViewEditor/ViewModels/ElementDefinitionSelectorViewModel.cs
  CDP4CrossViewEditor/ViewModels/ParameterTypeSelectorViewModel.cs
  CDP4CrossViewEditor/ViewModels/ThingSelectorViewModel.cs
  CDP4CrossViewEditor/Views/UserControls/ElementThingSelector.xaml
  CDP4CrossViewEditor/Views/UserControls/ElementThingSelector.xaml.cs
  CDP4CrossViewEditor/Views/UserControls/ParameterThingSelector.xaml
  CDP4CrossViewEditor/Views/UserControls/ParameterThingSelector.xaml.cs
Labels: Crossview

#713 #711 Add sheet name to Crossview cell names
  CDP4CrossViewEditor/Assemblers/CrossviewArrayAssembler.cs
Labels: Crossview

#684 #657 Save manually filled values on rebuild
  CDP4CrossViewEditor.Tests/CDP4CrossViewEditor.Tests.csproj
  CDP4CrossViewEditor.Tests/OfficeDal/CrossviewWorkbookDataDalTestFixture.cs
  CDP4CrossViewEditor.Tests/TestData/test.xlsx
  CDP4CrossViewEditor.Tests/ViewModels/CrossViewDialogViewModelTestFixture.cs
  CDP4CrossViewEditor.Tests/ViewModels/ThingSelectorViewModelTestFixture.cs
  CDP4CrossViewEditor/Generator/CrossviewSheetGenerator.cs
  CDP4CrossViewEditor/OfficeRibbon/CrossViewEditorRibbonPart.cs
  CDP4CrossViewEditor/ViewModels/CrossViewDialogViewModel.cs
  CDP4CrossViewEditor/ViewModels/ElementDefinitionSelectorViewModel.cs
  CDP4CrossViewEditor/ViewModels/ParameterTypeSelectorViewModel.cs
  CDP4CrossViewEditor/ViewModels/ThingSelectorViewModel.cs
  CDP4CrossViewEditor/ViewModels/WorkbookSelectionDialogResult.cs
  CDP4CrossViewEditor/WorkbookOperator.cs
  CDP4OfficeInfrastructure.Tests/OfficeDal/CrossviewWorkbookDataTestFixture.cs
  CDP4OfficeInfrastructure/OfficeDal/CrossviewWorkbookData.cs
  CDP4OfficeInfrastructure/OfficeDal/CrossviewWorkbookDataDal.cs
Labels: Crossview, DEHP

#718 #712 Add crossview dialog checkbox for persisting manually
  CDP4CrossViewEditor.Tests/OfficeDal/CrossviewWorkbookDataDalTestFixture.cs
  CDP4CrossViewEditor.Tests/ViewModels/CrossViewDialogViewModelTestFixture.cs
  CDP4CrossViewEditor/OfficeRibbon/CrossViewEditorRibbonPart.cs
  CDP4CrossViewEditor/ViewModels/CrossViewDialogViewModel.cs
  CDP4CrossViewEditor/ViewModels/ParameterTypeSelectorViewModel.cs
  CDP4CrossViewEditor/ViewModels/WorkbookSelectionDialogResult.cs
  CDP4CrossViewEditor/Views/CrossViewDialog.xaml
  CDP4CrossViewEditor/WorkbookOperator.cs
Labels: Crossview

#720 #719 Fix add power parameter types toggle button issues
  CDP4CrossViewEditor.Tests/ViewModels/CrossViewDialogViewModelTestFixture.cs
  CDP4CrossViewEditor/ViewModels/ParameterTypeSelectorViewModel.cs
  CDP4CrossViewEditor/Views/UserControls/ParameterThingSelector.xaml
Labels: Crossview

#716 #710 Protect fixed columns and header cells
  CDP4CrossViewEditor.Tests/OfficeDal/CrossviewWorkbookDataDalTestFixture.cs
  CDP4CrossViewEditor/Assemblers/CrossviewArrayAssembler.cs
  CDP4OfficeInfrastructure/Assemblers/AbstractHeaderArrayAssembler.cs
  CDP4ParameterSheetGenerator/Assemblers/OptionSheet/NestedElementParameterArrayAssembler.cs
  CDP4ParameterSheetGenerator/Assemblers/ParameterSheet/ParameterArrayAssembler.cs
Labels: Crossview
